// Layouts

.flex-col {
    display: flex;
    flex-direction: column;

    &.center-h {
        align-items: center;
    }

    &.center-v {
        justify-content: center;
    }

    &.center {
        @extend .center-h;
        @extend .center-v;
    }
}

.flex-row {
    display: flex;

    &.center-h {
        justify-content: center;
    }

    &.center-v {
        align-items: center;
    }

    &.center {
        @extend .center-h;
        @extend.center-v;
    }
}

// Typography
.header-xlarge {
    font-size: 4em;
}